<div class="form-group">
	<switch-input ng-model="model.option.location.selected"></switch-input>
	<div class="row" ng-show="model.option.location.selected">
		<div class="col-md-6">	
			<table>
				<tbody>
					<tr><td colspan="7"><label for="latitude" translate="geo.form.coordinates.label">Coordinates</label></td></tr>
					<tr>
						<td class="form-group">					
							<input style="width:150px;" type="number" ng-model="geo.center.latitude" name="latitude" class="form-control text-center" ng-readonly="true">
						</td>
						<td style="width:10px;"></td>
						<td>-</td>
						<td style="width:10px;"></td>
						<td class="form-group">					
							<input style="width:150px;" type="number" ng-model="geo.center.longitude" name="longitude" class="form-control text-center" ng-readonly="true">
						</td>					
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<label for="distance" translate="geo.form.distance.label">Distance</label>
			<select class="form-control" ng-model="geo.distance" name="distance" ng-change="changeDistance()">
				<option ng-repeat="distance in distances"
            			value="{{distance.meters}}">
			      {{distance.name}}
			    </option>
			</select>
		</div>
	</div>
	<div ng-if="showMap" class="voffset3">
		<ui-gmap-google-map center='geo.center' zoom='geo.zoom'>
			<ui-gmap-circle center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
	            visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
	        </ui-gmap-circle>
		</ui-gmap-google-map>
	</div>
</div>  
