<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container">    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><span class="navbar-title hidden-xs" translate="global.title">floop.io</span></a>            
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">

            <ul class="nav navbar-nav nav-pills navbar-left">
                <li ui-sref-active="active">
                    <a ui-sref="rate">
                        <span class="fa fa-star fa-fw"></span>
                        <span translate="global.menu.opinion.rate">Rate</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="vote">
                        <span class="fa fa-check-square-o fa-fw"></span>
                        <span translate="global.menu.opinion.vote">Vote</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="petition">
                        <span class="fa fa-bullhorn fa-fw"></span>
                        <span translate="global.menu.opinion.petition">Petition</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="gauge">
                        <span class="fa fa-thumbs-o-up fa-fw"></span>
                        <span translate="global.menu.opinion.gauge">Gauge</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
